html, body {
    height: 100%;
}

.characterBackground {
    background: url(/static/img/characterBackground.svg);
    background-size: cover;
}

.auth-container {
    align-items: center;
    flex-direction: column;
    background-color: #36393f;

    border-radius: 10px 10px 10px 10px;
    position: relative;
    padding: 40px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.friends-list a {
   text-decoration: none;
}

.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.avatar-small {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.espace{
    margin-top: 0.8em;
}

.titleSignup{
    justify-content: center;
}

.arrow-back{
    position: relative;
    margin-top: -6em;
    margin-left: 0.5em;
}

.name-contact{
    margin-top: 3em;
}

.error-msg{
    color: red;
    font-weight: bold;
    margin-left: 2em;
}

.success-msg{
    color: green;
    font-weight: bold;
    margin-left: 5em;
}

.titleContact{
    margin-left: 3em;
    margin-bottom: -1.3em;
}

.underTitleContact{
    margin-left: 6em;
    margin-top: -0.6em;
}

.arrowBack{
    font-size: 47px;
}

.sendButton{
    margin-top: 0.5em;
    margin-bottom: -3em;
}

.errorMessage{
    margin-top: 2em;
    margin-bottom: -1.3em;
    margin-left: 4em;
}

.succesMessage{
    margin-left: 7em;
    margin-top: 2em;
    margin-bottom: -1em;
}

.friendScroll{
    overflow:scroll; 
    height:360px;
}

.friendScroll{
    overflow:scroll; 
    height:360px;
}

.addFriendButton{
    margin-top: 0.6em;
}


/* Serveur Menu */

/* .menuAccordeon {
    box-sizing: border-box;
}

.nav {
	position: absolute;
	top: 88%;
    left: 9%;
	transform: translate(-50%, -50%);
	width: 22em;
	background-color: #333;
	border-radius: 8px;
    margin: 0;
	padding: 0;
	list-style-type: none;
    overflow: hidden;
    margin-left: 3em;
}


.nav__item {
	display: block;
	border-top: 1px solid grey;
	margin: 0;
	padding: 0;
	font-size: 17px;
	background: grey;
	overflow: hidden;
}

.nav__item-link {
	color: #FFF;
	text-decoration: none;
	padding: 16px 20px;
	display: block;
	position: relative;
}

.nav__item-link::before {
	content: "";
	width: 14px;
	height: 14px;
	background-color: grey;
	position: absolute;
	left: 55px;
	bottom: -7px;
	transform: rotate(45deg)
}

.nav__item-link i {
	margin-right: 14em;
}

.nav__submenu {
	background: #333;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s;
}

.nav__submenu-link {
	display: block;
	padding: 10px 10px;
	color: #FFF;
	text-decoration: none;
	font-size: 15px;
	transition: background 0.2s ease-in;
}

.nav__submenu-link:hover {
	background: #4D4D4D;
}

.nav__submenu:target {
	/*border: 5px solid red;*/
	/* max-height: 10rem; */
/* }  */



